
/* 列表 */
.proRow .item{padding: 30rpx 4%;background: #fff;border-radius: 10rpx;overflow: hidden;align-items: flex-start;}
.proRow .item .pic{width: 160rpx; height: 160rpx;border-radius: 10rpx;overflow: hidden;position: relative;}
.proRow .item .infor{ width:74%;height: 160rpx;position: relative;}
.proRow .item .B-price{position: absolute;left: 0;right: 0;bottom:0rpx;}
.proRow .item .lable{line-height: 40rpx;padding: 0 8rpx;border: 1px solid #c0bebe;font-size: 24rpx;color: #999;border-radius: 8rpx;}
.proRow .item .infor .price{font-size: 30rpx; font-weight: bold;}
.proRow .item .infor .price2{font-size: 24rpx; font-weight: bold; color: #666;margin-left: 20rpx;}
.proRow .item .infor .priceTit{font-size: 22rpx; color: #999;margin-left: 10rpx;}
.specsBtn{padding: 0 10rpx;line-height: 44rpx;background-color: #f7f7f7;border-radius: 6rpx;}
.imgTit{position: absolute;left: 0;right: 0;bottom: 0;background-image: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,0.6));height:50rpx;line-height: 50rpx;}

/* 数量加减 */
.numBox{border: 1px solid #d8d8d8;}
.numBox view{ height: 44rpx; text-align: center; box-sizing: border-box;}
.numBox .btn{min-width: 44rpx;line-height: 44rpx;color: #999; font-size:38rpx;}
/* .numBox .btn.add{border-color: #38a0f9;color: #fff;} */
.numBox view.num{ width: 70rpx; color: #333;line-height: 44rpx; font-size: 28rpx;padding: 0 5rpx;border-left: 1px solid #d8d8d8;border-right: 1px solid #d8d8d8;}

.underBtn .Bbtn{display: block;width: 160rpx;line-height: 50rpx; border:1px solid #d2d2d2; text-align: center; margin-left: 30rpx; border-radius: 30rpx; font-size: 26rpx;box-sizing: border-box; color: #666;}
.underBtn .Bbtn.mainborder{color: #DB1B1B;border-color: #DB1B1B;}

/* 删除弹框 */
.alertShow{ width: 80%;position: fixed; top: 50%;left: 50%;transform: translate(-50%,-50%); z-index: 50;box-sizing: border-box;}
.tip-button .item{width: 50%;box-sizing: border-box; line-height: 100rpx;}
.tip-button .item:first-child{border-right:1px solid #eee;}

.proRow .item .picBox{width: 85%;}
.proRow .item .picBox image{width: 120rpx;height: 120rpx;margin-right: 20rpx;border-radius: 8rpx;}
